.main-content {
    padding-top: 15vh;
    text-align: center;

    .quoteOfTheDay {
        background-color: $element-background-color;
        width: 70vw;
        max-width: 450px;
        margin: auto;
        padding: 10px;
        font-family: $main-font;
        font-size: 1.1rem;
        line-height: 160%;
        box-shadow: $element-box-shadow;

    }

    a {
        &.button {
            display: inline-block;
            background-color: rgba(233, 195, 201, 0.8);
            margin: 20px;
            padding: 10px;
            border-radius: 7px;
            box-shadow: $element-box-shadow;
        }
    }
}