$element-background-color: rgba(255, 255, 255, 0.6);
$main-font-color: #333;


$main-font:'Major Mono Display',
monospace;
$headline-font: 'Amatic SC',
cursive;

$element-box-shadow: 0 0 15px #bc9ca1;