* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  background-image: url("../images/motivation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; }
