@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Major+Mono+Display");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  background-image: url("../images/motivation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; }

.main-header {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7); }
  .main-header h1 {
    text-align: center; }
