@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Major+Mono+Display");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  background-image: url("../images/motivation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; }

.main-header {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px #bc9ca1; }
  .main-header h1 {
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-weight: normal;
    color: #333;
    font-size: 1.7rem; }

.main-content {
  padding-top: 15vh;
  text-align: center; }
  .main-content .quoteOfTheDay {
    background-color: rgba(255, 255, 255, 0.6);
    width: 70vw;
    max-width: 450px;
    margin: auto;
    padding: 10px;
    font-family: "Major Mono Display", monospace;
    font-size: 1.1rem;
    line-height: 160%;
    box-shadow: 0 0 15px #bc9ca1;
    color: #333; }
  .main-content a.button {
    display: inline-block;
    background-color: rgba(233, 195, 201, 0.8);
    margin: 20px;
    padding: 7px 10px;
    border-radius: 7px;
    box-shadow: 0 0 15px #bc9ca1;
    color: #6b3d43;
    text-decoration: none;
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 1.3rem; }
